# node_modules
node_modules/

# macOS
.DS_Store

# log de erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# arquivos do Expo
.expo/
.expo-shared/

# Android
android/app/build/
*.keystore

# iOS (caso gere futuramente)
ios/build/
ios/Pods/
ios/Podfile.lock

# Visual Studio Code
.vscode/

# Logs temporários
*.log

# pastas ocultas ou locais
.env
.env.*
.idea/
*.swp
